.ipynb_checkpoints/

ckpt/*
data/*
logs/*
pngs/*
references/*
submission/*
tensorboard/*

!ckpt/.gitkeep
!data/.gitkeep
!logs/.gitkeep
!pngs/.gitkeep
!references/.gitkeep
!submission/.gitkeep
!tensorboard/.gitkeep

try*.ipynb
